## 今天的作業
在鐵達尼資料集中，今天我們專注觀察變數之間的相關性，以Titanic_train.csv 中，首先將有遺失值的數值刪除，我們取 Titanic_train.csv 的年齡資料，試著將課堂中所學的方法應用上去。

* Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。  
* Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。  
*  Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?

In [24]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy import stats
import math
import statistics
import seaborn as sns
from IPython.display import display
import sklearn
print(sklearn.__version__)
#如果只有 0.19 記得要更新至 最新版本
%matplotlib inline


#顯示所有行
pd.set_option('display.max_columns', None)
#顯示所有列
pd.set_option('display.max_rows', None)
#顯示行設定
pd.set_option('max_colwidth',100)

import pingouin as pg
import researchpy

0.23.2

## 讀入資料

In [25]:
df_train = pd.read_csv("Titanic_train.csv")
print(df_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

In [26]:
#1.產稱一個新的變數 Survived_cate ，資料型態傳換成類別型態      
#2.把題目中的 Survived 用 Survived_cate 來做分析    
#df_train['Survived_cate']=df_train['Survived']
#df_train['Survived_cate']=df_train['Survived_cate'].astype('object')
df_train['Survived_cate']=df_train['Survived'].astype('object')
print(df_train.info())
print(df_train.head(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Cabin          204 non-null    object
 11  Embarked       889 non-null    object
 12  Survived_cate  891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB
None
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked Survived_cate
0      0         A/5 21171   7.2500   NaN        S             0
1      0          PC 17599  71.2833   C85        C             1
2      0  STON/O2. 3101282   7.9250   NaN        S             1
3      0            113803  53.1000  C123        S             1
4      0            373450   8.0500   NaN        S             0

In [27]:
#我們先把遺失值刪除
## 取出資料後，把遺失值刪除
complete_data=df_train[['Age','Survived_cate','Sex']].dropna()
display(complete_data.head(5))

    Age Survived_cate     Sex
0  22.0             0    male
1  38.0             1  female
2  26.0             1  female
3  35.0             1  female
4  35.0             0    male

### Q1: 產生一個新的變數(Age_above65_) Age>=65為 'Y'，其餘為'N'。

In [33]:
complete_data1=complete_data[:]
complete_data1['Ageabove65']=complete_data1['Age'].apply(lambda x: 'Y' if x >= 65 else 'N')
display(complete_data.info())
print('------------')
display(complete_data1.info())
print('------------')
display(complete_data1[['Ageabove65','Age']].head(5))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            714 non-null    float64
 1   Survived_cate  714 non-null    object
 2   Sex            714 non-null    object
dtypes: float64(1), object(2)
memory usage: 22.3+ KB
<ipython-input-33-f4044df606c3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complete_data1['Ageabove65']=complete_data1['Age'].apply(lambda x: 'Y' if x >= 65 else 'N')

None

------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            714 non-null    float64
 1   Survived_cate  714 non-null    object
 2   Sex            714 non-null    object
 3   Ageabove65     714 non-null    object
dtypes: float64(1), object(3)
memory usage: 27.9+ KB

None

------------

  Ageabove65   Age
0          N  22.0
1          N  38.0
2          N  26.0
3          N  35.0
4          N  35.0

### Q2: 添加女性和男性，產生一個新的變數(Age_above65_female)，女性或Age>=65為'Y'，其餘為'N'。
* 暗示: 觀看下面影片找答案，https://www.youtube.com/watch?v=X2d-wUt5azY

In [100]:
complete_data2=complete_data1[:]
print(complete_data1.info())
print('-----------')
print(complete_data2.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            714 non-null    float64
 1   Survived_cate  714 non-null    object
 2   Sex            714 non-null    object
 3   Ageabove65     714 non-null    object
dtypes: float64(1), object(3)
memory usage: 27.9+ KB
None
-----------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 714 entries, 0 to 890
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Age            714 non-null    float64
 1   Survived_cate  714 non-null    object
 2   Sex            714 non-null    object
 3   Ageabove65     714 non-null    object
dtypes: float64(1), object(3)
memory usage: 27.9+ KB
None

In [101]:
def check1(row):
   if row.Age >= 65.0 :
       return('Y')
   else:
       if row.Sex == 'female':
           return('Y')
       else:
           return('N')

print(complete_data2[['Sex','Age']].apply(check1,axis=1).head(5))
print('----xxx----')
check2 = lambda Sex,Age: 'Y' if (Age >= 65.0 or Sex == 'female') else 'N'
print(check2('female',67))

0    N
1    Y
2    Y
3    Y
4    N
dtype: object
----xxx----
Y

In [102]:
complete_data2['Age_above65_female']=complete_data2[['Sex','Age']].apply(check1,axis=1)
print(complete_data2.head(5))

    Age Survived_cate     Sex Ageabove65 Age_above65_female
0  22.0             0    male          N                  N
1  38.0             1  female          N                  Y
2  26.0             1  female          N                  Y
3  35.0             1  female          N                  Y
4  35.0             0    male          N                  N
<ipython-input-102-423687fecaa2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  complete_data2['Age_above65_female']=complete_data2[['Sex','Age']].apply(check1,axis=1)

### Q3: 透過昨天課程的內容，驗證產生的兩個新變數，哪一個和目標變數(Survived_cate)的相關性較高?
* 提示:    
  首先觀察一下這些變數的資料型態後，再來想要以哪一種判斷倆倆的相關性。

In [103]:
#離散vs離散
#!pip install researchpy

import researchpy

In [107]:
contTable1 = pd.crosstab(complete_data2['Ageabove65'], df_train['Survived_cate'])
print(contTable1)

Survived_cate    0    1
Ageabove65
N              414  289
Y               10    1

In [108]:
contTable2 = pd.crosstab(complete_data2['Age_above65_female'], df_train['Survived_cate'])
print(contTable2)

Survived_cate         0    1
Age_above65_female
N                   350   92
Y                    74  198

In [109]:
## 寫一個副程式判斷相關性的強度
def judgment_CramerV(df,V):
    if df == 1:
        if V < 0.10:
            qual = 'negligible'
        elif V < 0.30:
            qual = 'small'
        elif V < 0.50:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 2:
        if V < 0.07:
            qual = 'negligible'
        elif V < 0.21:
            qual = 'small'
        elif V < 0.35:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 3:
        if V < 0.06:
            qual = 'negligible'
        elif V < 0.17:
            qual = 'small'
        elif V < 0.29:
            qual = 'medium'
        else:
            qual = 'large'
    elif df == 4:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.15:
            qual = 'small'
        elif V < 0.25:
            qual = 'medium'
        else:
            qual = 'large'
    else:
        if V < 0.05:
            qual = 'negligible'
        elif V < 0.13:
            qual = 'small'
        elif V < 0.22:
            qual = 'medium'
        else:
            qual = 'large'
    return(qual)

In [110]:
df = min(complete_data2.shape[0], complete_data2.shape[1]) - 1
df

4

In [111]:
df = min(contTable1.shape[0], contTable1.shape[1]) - 1
df #自由度

1

In [117]:
crosstab1, res1 = researchpy.crosstab(complete_data2['Ageabove65'], complete_data2['Survived_cate'], test='chi-square')
print(res1)
print("Cramer's value is",res1.loc[2,'results'])

print('---------------')
judgment_CramerV(df,res1.loc[2,'results'])

                Chi-square test  results
0  Pearson Chi-square ( 1.0) =    4.6035
1                    p-value =    0.0319
2               Cramer's phi =    0.0803
Cramer's value is 0.0803
---------------

'negligible'

In [118]:
crosstab2, res2 = researchpy.crosstab(complete_data2['Age_above65_female'], complete_data2['Survived_cate'], test='chi-square')
print(res2)
print("Cramer's value is",res2.loc[2,'results'])

print('---------------')
judgment_CramerV(df,res2.loc[2,'results'])

                Chi-square test   results
0  Pearson Chi-square ( 1.0) =   188.6219
1                    p-value =     0.0000
2               Cramer's phi =     0.5140
Cramer's value is 0.514
---------------

'large'